#cabinet-menu {
  background-color: #015995;
  height: 60px;
  width: 100%;
  .section {
    @media screen and (max-width: 639px) {
      padding: 0 10px;
    }
  }
  ul {
    padding: 0;
    li {
      display: inline-block;
      float: left;
      height: 60px;
      list-style: none;
      margin: 0;
      padding: 0;
      &.menu-messages {
        a {
          position: relative;
          @include background-image(image-url("menu_messages.png"));
          background-repeat: no-repeat;
          background-position: left 20px center;
          padding-right: 60px;
          @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
            padding: 0 40px 0 40px;
            background-position: left 10px center;
          }
          &:hover {
            .count {

            }
          }
        }
        .count {
          background-color: $red_text_color;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          color: #fff;
          display: block;
          font-size: 13px;
          height: 24px;
          line-height: 24px;
          margin-right: 25px;
          padding: 0 4px;
          position: absolute;
          right: 0;
          top: 8px;
          @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
            font-size: 11px;
            margin-right: 10px;
          }
          @media screen and (max-width: 639px) {
            @include transform(translate(50%, 0));
            font-size: 11px;
            margin: 0;
            right: 50%;
            top: 32px;
            text-indent: 0;
          }
        }
      }
      &.menu-profile a {
        @include background-image(image-url("menu_profile.png"));
        background-repeat: no-repeat;
        background-position: left 20px center;
      }
      &.menu-iqub a {
        @include background-image(image-url("menu_iqub.png"));
        background-repeat: no-repeat;
        background-position: left 20px center;
      }
      &.menu-blog a {
        @include background-image(image-url("menu_blog.png"));
        background-repeat: no-repeat;
        background-position: left 20px center;
      }
      &.menu-calculations a {
        @include background-image(image-url("menu_calculations.png"));
        background-repeat: no-repeat;
        background-position: left 20px center;
        @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
          padding-right: 5px;
        }
      }
      a {
        color: #fff;
        display: block;
        font-size: 17px;
        height: 60px;
        line-height: 60px;
        padding: 0 30px 0 60px;
        text-decoration: none;
        @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
          background-position: left 10px center !important;
          font-size: 15px;
          padding: 0 15px 0 40px;
        }
        @media screen and (max-width: 639px) {
          font-size: 0;
          padding: 0;
          width: 60px;
          text-indent: -9999px;
        }
        &.active,
        &:hover {
          background-color: $red_text_color;
        }
      }
    }
  }
}
#cabinet-container {
  &.messages {
    padding-top: 30px;
  }
  &.profile,
  &.my-comments,
  &.create-article,
  &.my-articles {
    padding-top: 80px;
    @media screen and (max-width: 959px) {
      padding-top: 40px;
    }
  }
  .section {
    @include clearfix();
  }
  h1.title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 50px 0;
    @media screen and (max-width: 959px) {
      font-size: 30px;
      padding: 20px 0;
    }
  }
  .filter-container {
    margin-bottom: 58px;
    label {
      color: #5d6978;
      display: block;
      font-weight: 13px;
      margin-bottom: 5px;
      width: 100%;
    }
    select {
      background-color: #fff;
      border: none;
      border-bottom: 1px solid #161d26;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: #161d26;
      font-size: 17px;
      height: 40px;
      @media screen and (max-width: 959px) {
        width: 100%;
      }
    }
  }
  .messages-container {
    @include clearfix();
    width: 100%;
    .message-row {
      @include clearfix();
      border-bottom: 1px solid #d3dae1;
      width: 100%;
      @media screen and (max-width: 639px) {
        @include box-sizing(border-box);
        padding: 20px;
      }
      .info-nocheck {
        display: none;
      }
      @media screen and (max-width: 639px) {
        .info-check {
          line-height: 27px;
        }
        .info-nocheck {
          line-height: 27px;
        }
      }
      &.not-read {
        background-color: #c8e5f9;
        border-bottom: 1px solid #fff;
        .info-check {
          display: none;
        }
        .info-nocheck {
          display: block;
        }
      }
      .read-info {
        color: #5d6978;
        display: inline-block;
        float: left;
        font-size: 13px;
        padding: 20px 0;
        text-align: center;
        width: 80px;
        @media screen and (max-width: 639px) {
          padding: 0;
          text-align: left;
          width: 100%;
        }
        @media screen and (max-width: 959px) {
          font-size: 11px;
        }
        label {
          margin-bottom: 10px;
          @media screen and (max-width: 639px) {
            float: left;
            margin-right: 10px;
          }
          &:before {
            margin-right: 0;
          }
        }
      }
      .message-info {
        @include box-sizing(border-box);
        display: inline-block;
        float: left;
        padding-right: 20px;
        width: 1160px;
        @media screen and (max-width: 639px) {
          width: 100%;
        }
        @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
          width: 520px;
        }
        @media screen and (min-width: $breakpoints960) and (max-width: 1279px) {
          width: 840px;
        }
        .t {
          padding: 22px 0 3px 0;
          @media screen and (max-width: 639px) {
            padding-top: 0;
          }
        }
        .b {
          color: #161d26;
          font-size: 17px;
          padding: 5px 0 18px 0;
          @media screen and (max-width: 959px) {
            font-size: 15px;
          }
          @media screen and (max-width: 639px) {
            padding-bottom: 0;
          }
        }
        a {
          color: $red_text_color;
        }
        .date {
          color: #5d6978;
          font-size: 13px;
          text-transform: uppercase;
          @media screen and (max-width: 959px) {
            font-size: 11px;
          }
        }
        .cat {
          color: #015995;
          font-size: 13px;
          margin-left: 10px;
          @media screen and (max-width: 959px) {
            font-size: 11px;
          }
        }
      }
    }
  }
  .filtr {
    display: inline-block;
    width: $width_filtr;
    float: left;
    //@media screen and (min-width: $breakpoints640) and (max-width: 959px) {
    //  bottom: 70px;
    //  position: relative;
    //}
    @media screen and (max-width: 959px) {
      width: 100%;
    }
    .menu {
      width: $width_filtr - 60px;
      @media screen and (max-width: 959px) {
        width: 100%;
      }
      .btn-filtr {
        border: 1px solid #d3dae1;
        margin-bottom: 20px;
        @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
          display: inline-block;
          float: left;
          width: 187px;
          &:first-child {
            margin-right: 20px;
          }
          &:last-child {
            margin-left: 20px;
          }
        }
        &.active,&:hover,&.active:hover{
          @include background(image-url("bg-menu-filtr.png"));
          width: $width_filtr - 28px;
          border: 1px solid #fff;
          @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
            width: 185px;
          }
          @media screen and (max-width: 639px) {
            background: #015995;
            width: 100%;
          }
          a {
            text-decoration: none;
            color: #fff;
          }
        }
        &:hover{
          @include background(#015995);
          width: $width_filtr - 60px;
          border: 1px solid #015995;
          @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
            width: 187px;
          }
          @media screen and (max-width: 639px) {
            background: #015995;
            width: 100%;
          }
        }
        a{
          font-family: $main_font;
          font-size: 17px;
          color: #161d26;
          line-height: 58px;
          vertical-align: middle;
          padding-left: 19px;
          display: inline-block;
          height: 100%;
          width: 100%;
          @media screen and (max-width: 959px) {
            font-size: 15px;
            padding-left: 0;
            text-align: center;
          }
        }
      }
    }
  }
  .profile-title {
    h1 {
      color: #161d26;
      font-size: 50px;
      font-weight: bold;
      margin: 0 0 40px 0;
      @media screen and (max-width: 959px) {
        font-size: 30px;
        margin: 30px 0;
      }
      @media screen and (max-width: 639px) {
        margin-top: 0;
      }
    }
  }
  .profile-content {
    color: #161d26;
    float: left;
    display: inline-block;
    @media screen and (max-width: 959px) {
      width: 100%;
    }
    @media screen and (min-width: $breakpoints960) and (max-width: 1279px) {
      width: 610px;
    }
    @media screen and (min-width: $breakpoints1280) {
      width: 930px;
    }
    .text {
      font-size: 17px;
      @media screen and (max-width: 959px) {
        font-size: 15px;
      }
    }
    .faq {
      margin: 10px 0;
      .toggle-link {
        border-bottom: 1px dotted #015995;
        color: #015995;
        font-size: 17px;
        text-decoration: none;
        @media screen and (max-width: 959px) {
          font-size: 15px;
        }
      }
      .faq-container {
        @include box-sizing(border-box);
        display: none;
        //padding: 60px 0 25px 0;
        padding: 10px 0;
      }
    }
  }
  .message-error {
    background-color: #f9cbd3;
    color: #161d26;
    font-size: 13px;
    padding: 20px;
    position: relative;
    margin: 10px 0px;
    margin-top: 30px;
    line-height: 19px;
    @media screen and (max-width: 959px) {
      font-size: 13px;
    }
    a {
      color: $red_text_color;
      text-decoration: underline;
    }
    .close {
      @include background-image(image-url("message_error_close.png"));
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      height: 10px;
      opacity: 1;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 10px;
    }
  }
  .my-comments-container .my-comments-row:first-child {
    border-top: 1px solid #d3dae1;
  }
  .my-comments-row {
    border-bottom: 1px solid #d3dae1;
    padding: 30px 0;
    @media screen and (max-width: 959px) {
      padding: 20px 0;
    }
    .t {
      margin-bottom: 20px;
      @media screen and (max-width: 959px) {
        margin-bottom: 10px;
      }
      .date {
        color: #5d6978;
        font-size: 13px;
        text-transform: uppercase;
        @media screen and (max-width: 959px) {
          font-size: 11px;
        }
      }
      .cat {
        color: #015995;
        font-size: 13px;
        margin-left: 10px;
        @media screen and (max-width: 959px) {
          font-size: 11px;
        }
      }
    }
    .b {
      color: #161d26;
      font-size: 17px;
      line-height: 30px;
      @media screen and (max-width: 959px) {
        font-size: 15px;
        line-height: 20px;
      }
    }
    .read-more {
      color: $red_text_color;
      display: inline-block;
      font-size: 13px;
      margin-top: 20px;
      text-decoration: underline;
      @media screen and (max-width: 959px) {
        font-size: 11px;
        margin-top: 15px;
      }
    }
  }
  &.create-article {
    color: #161d26;
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 100px 0 30px 0;
      @media screen and (max-width: 959px) {
        margin: 70px 0 20px 0;
      }
    }
    .query_wrap {
      margin-bottom: 20px;
      @media screen and (max-width: 959px) {
        margin-bottom: 15px;
      }
    }
    .filtr {
      .menu {
        width: $width_filtr - 60px;
        @media screen and (max-width: 959px) {
          width: 100%;
        }
        .btn-filtr {
          margin-bottom: 20px;
          @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
            height: 56px;
            margin-right: 20px;
            width: 135px;
            &:last-child {
              margin: 0 0 20px 0;
            }
            a {
              display: table-cell;
              height: 56px;
              line-height: normal;
              vertical-align: middle;
              width: 134px;
            }
            &:hover {
              width: 135px;
            }
          }
        }
      }
    }
  }
}
#profile-edit-form {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  .form-right {
    display: inline-block;
    float: right;
    width: 280px;
    @media screen and (max-width: 639px) {
      width: 100%;
    }
    .profile-picture {
      margin-bottom: 20px;
    }
    .change-picture {
      background-color: $red_text_color;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 0;
      color: #fff;
      display: block;
      height: 60px;
      font-size: 17px;
      text-align: center;
      width: 100%;
      @media screen and (max-width: 959px) {
        font-size: 15px;
      }
      &:hover {
        background-color: #ff4060;
      }
    }
    .description {
      color: #5d6978;
      font-size: 13px;
      padding: 20px 0;
      @media screen and (max-width: 959px) {
        font-size: 11px;
      }
    }
    .profile-social {
      .social-connect {
        @include clearfix();
        a {
          display: inline-block;
          float: left;
          height: 60px;
          margin-right: 13px;
          width: 60px;
          &:nth-child(4n) {
            margin-right: 0;
          }
          &.social1 {
            @include background-image(image-url("social1.jpg"));
            background-size: cover;
          }
          &.social2 {
            @include background-image(image-url("social2.jpg"));
            background-size: cover;
          }
          &.social3 {
            @include background-image(image-url("social3.jpg"));
            background-size: cover;
          }
          &.social4 {
            @include background-image(image-url("social4.jpg"));
            background-size: cover;
          }
        }
      }
    }
  }
  .form-left {
    display: inline-block;
    float: left;
    width: 440px;
    @media screen and (max-width: 639px) {
      width: 100%;
    }
    @media screen and (min-width: $breakpoints640) and (max-width: 1279px) {
      width: 280px;
    }
    .cont {
      margin-bottom: 20px;
      .icon {
        @include background-image(image-url("profile_form_icon.png"));
        background-color: $red_text_color;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        float: left;
        height: 60px;
        margin-right: 20px;
        width: 60px;
      }
      .t {
        display: table-cell;
        font-size: 17px;
        height: 60px;
        vertical-align: middle;
        width: 190px;
        @media screen and (max-width: 959px) {
          font-size: 15px;
        }
        a {
          color: $red_text_color;
          text-decoration: underline;
        }
      }
    }
    .form-item {
      display: inline-block;
      margin: 17px 0;
      width: 100%;
    }
    label {
      color: #5d6978;
      font-size: 13px;
      margin: 0;
      @media screen and (max-width: 959px) {
        font-size: 11px;
      }
    }
    input[type=text],
    input[type=email] {
      @include box-sizing(border-box);
      @include border-radius(0);
      border: 1px solid #161d26;
      color: #161d26;
      font-size: 13px;
      height: 40px;
      padding: 0 15px;
      width: 100%;
      @media screen and (max-width: 959px) {
        font-size: 11px;
      }
    }
    .form-actions {
      display: inline-block;
      height: 60px;
      margin: 12px 0 60px 0;
      input[type=submit] {
        @include border-radius(0);
        background-color: $red_text_color;
        border: none;
        color: #fff;
        display: inline-block;
        float: left;
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        padding: 0 40px 0 30px;
        @media screen and (max-width: 959px) {
          font-size: 17px;
        }
      }
      .submit-arrow {
        display: inline-block;
        height: 60px;
        @include background(image-url("red_btn_after_60.png"));
        background-repeat: no-repeat;
        background-position: 0 0;
        position: relative;
        width: 33px;
        &:before {
          @include background(image-url("red_btn_icon.png"));
          background-repeat: no-repeat;
          background-position: center;
          content: '';
          height: 60px;
          position: absolute;
          left: -8px;
          width: 16px;
          z-index: 3;
          border-left-color: #fff;
        }
      }
      &:hover {
        input[type=submit] {
          background-color: #ff4060;
        }
        .submit-arrow{
          background-position: 0 -60px;
        }
      }
    }
  }
}
#after-cabinet-container {
  border-top: 1px solid #d3dae1;
  padding: 20px 0;
  width: 100%;
  .icon-left {
    @include background-image(image-url("energy_icon.png"));
    background-color: #ffe93b;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }
  .text-nomobile {
    color: #b9c1cb;
    display: table-cell;
    height: 40px;
    font-size: 13px;
    vertical-align: middle;
    width: 1100px;
    @media screen and (max-width: 639px) {
      display: none;
    }
    @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
      width: 480px;
    }
    @media screen and (min-width: $breakpoints960) and (max-width: 1279px) {
      width: 800px;
    }
  }
  .text-mobile {
    display: none;
    @media screen and (max-width: 639px) {
      color: #b9c1cb;
      display: table-cell;
      height: 40px;
      font-size: 13px;
      vertical-align: middle;
      width: 180px;
    }
  }
  .icon-right {
    @include background-image(image-url("arrow_up.png"));
    background-repeat: no-repeat;
    background-position: center;
    @include box-sizing(border-box);
    border: 1px solid #d3dae1;
    display: inline-block;
    float: right;
    height: 40px;
    width: 40px;
  }
}
.pagination {
  margin: 50px 0;
  @media screen and (max-width: 959px) {
    margin: 40px 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      @include box-sizing(border-box);
      color: #161d26;
      display: inline-block;
      height: 40px;
      text-align: center;
      vertical-align: top;
      width: 40px;
      @media screen and (max-width: 959px) {
        &:not(.prev):not(.next):not(.current) {
          display: none;
        }
      }
      a {
        @include box-sizing(border-box);
        color: #161d26;
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        text-decoration: none;
        width: 40px;
        &:hover {
          background-color: #d3dae1;
        }
      }
      &.current {
        background-color: #015995;
        color: #fff;
        cursor: pointer;
        line-height: 40px;
      }
      &.prev {
        @include background-image(image-url("prev_next.png"));
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: #fff;
        color: #fff;
        line-height: 40px;
        &:not(.disable):hover {
          background-color: #d3dae1;
        }
        &.disable {
          background-position: 0 -40px;
        }
        a {
          &:hover {
            background-color: transparent;
          }
        }
      }
      &.next {
        @include background-image(image-url("prev_next.png"));
        background-repeat: no-repeat;
        background-position: 0 -80px;
        background-color: #fff;
        color: #fff;
        line-height: 40px;
        &:not(.disable):hover {
          background-color: #d3dae1;
        }
        &.disable {
          background-position: 0 -120px;
        }
        a {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
.my-articles-sort {
  @include clearfix();
  margin: 30px 0 60px 0;
  .sort-container {
    display: inline-block;
    float: left;
    margin-right: 5px;
    label {
      color: #5d6978;
      display: block;
      font-weight: 13px;
      margin-bottom: 5px;
      width: 100%;
    }
    select {
      background-color: #fff;
      border: 1px solid #161d26;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: #161d26;
      font-size: 17px;
      height: 40px;
      @media screen and (max-width: 959px) {
        width: 100%;
        font-size: 15px;
      }
    }
  }
  .what {
    width: calc( 100% - 190px );
    &.query_wrap.active .reply:before{
      left: auto;
      right: 10px;
    }
    .query{
      text-align: right;
    }
    /*border-bottom: 1px dotted #015995;*/
    color: #015995;
    display: inline-block;
    float: right;
    font-size: 17px;
    margin-top: 28px;
    @media screen and (max-width: 639px) {
      clear: both;
      float: left;
      width: 100%;
      &.query_wrap.active .reply:before{
        left: 10px;
        right: left;
      }
      .query{
        text-align: left;
      }
    }
    @media screen and (max-width: 959px) {
      font-size: 15px;
    }

  }
}
.my-articles-table {
  color: #161d26;
  font-size: 13px;
  @media screen and (max-width: 959px) {
    font-size: 11px;
  }
  @media screen and (max-width: 639px) {
    display: none;
  }
  width: 100%;
  a {
    color: #015995;
    text-decoration: none;
    &:hover {
      color: #015995;
    }
  }
  tr {
    th {
      background-color: #b6ddf7;
      color: #161d26;
      font-size: 13px;
      padding: 25px 20px;
      @media screen and (max-width: 959px) {
        padding: 15px 20px;
        font-size: 11px;
      }
      &.likes {
        div {
          @include background-image(image-url("like_dislike_comment.png"));
          background-position: 0 0;
          height: 14px;
          width: 16px;
        }
      }
      &.dislikes {
        div {
          @include background-image(image-url("like_dislike_comment.png"));
          background-position: 0 -14px;
          height: 14px;
          width: 16px;
        }
      }
      &.comments {
        div {
          @include background-image(image-url("like_dislike_comment.png"));
          background-position: 0 -28px;
          height: 14px;
          width: 16px;
        }
      }
    }
    td {
      padding: 30px 20px;
      @media screen and (max-width: 959px) {
        padding: 20px 20px;
      }
      &.likes,
      &.dislikes,
      &.comments {
        padding: 0 3px;
        text-align: center;
        width: 60px;
        @media screen and (max-width: 1279px) {
          width: 40px;
        }
      }
      &.date {
        width: 110px;
      }
      &.date,
      &.status {
        color: #5d6978;
        font-size: 13px;
      }
      &.name {
        a {
          font-size: 17px;
          @media screen and (max-width: 959px) {
            font-size: 15px;
          }
        }
      }
    }
  }
  thead {
    border: 1px solid #b6ddf7;
  }
  tbody {
    tr {
      border-bottom: 1px solid #d3dae1;
      border-left: 1px solid #d3dae1;
      border-right: 1px solid #d3dae1;
    }
  }
}
.my-articles-table-mobile {
  width: 100%;
  @media screen and (min-width: $breakpoints640) {
    display: none;
  }
  tr {
    border: 1px solid #d3dae1;
  }
  td {
    padding: 20px;
    vertical-align: middle;
  }
  .date {
    color: #5d6978;
    font-size: 11px;
    margin-right: 20px;
  }
  .status {
    color: #5d6978;
    font-size: 11px;
  }
  .name {
    margin: 15px 0;
    a {
      color: #015995;
      font-size: 15px;
      &:hover {
        color: #5d6978;
      }
    }
  }
  .bot {
    color: #161d26;
    font-size: 11px;
    a {
      color: #5d6978;
      font-size: 11px;
      text-decoration: none;
      &:hover {
        color: #5d6978;
      }
    }
    .likes {
      @include box-sizing(border-box);
      @include background-image(image-url("like_dislike_comment.png"));
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      height: 14px;
      padding-left: 25px;
      width: 60px;
    }
    .dislikes {
      @include box-sizing(border-box);
      @include background-image(image-url("like_dislike_comment.png"));
      background-position: 0 -14px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 14px;
      padding-left: 25px;
      width: 60px;
    }
    .comments {
      @include box-sizing(border-box);
      @include background-image(image-url("like_dislike_comment.png"));
      background-position: 0 -28px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 14px;
      padding-left: 25px;
      width: 60px;
    }
  }
}
.blog-new {
  margin-bottom: 60px;
  margin-top: 90px;
  @media screen and (max-width: 959px) {
    margin-bottom: 40px;
    margin-top: 60px;
  }
  h2 {
    color: #161d26;
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0;
    @media screen and (max-width: 959px) {
      margin: 20px 0;
    }
  }
  .blog-new-container {
    @include clearfix();
    position: relative;
  }
  .blog-new-row {
    @include box-sizing(border-box);
    //border-bottom: 1px solid #d3dae1;
    border-top: 1px solid #d3dae1;
    display: inline-block;
    float: left;
    padding: 30px 0;
    width: 283px;
    @media screen and (min-width: $breakpoints640) and (max-width: 1279px) {
      width: 280px;
    }
    @media screen and (max-width: 639px) {
      width: 100%;
    }
    &:after {
      background-color: #d3dae1;
      bottom: 0;
      content: '';
      height: 1px;
      position: absolute;
      width: 283px;
      @media screen and (min-width: $breakpoints640) and (max-width: 1279px) {
        width: 280px;
      }
      @media screen and (max-width: 639px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 959px) {
      padding: 20px 0;
    }
    &:nth-child(1) {
      margin-right: 20px;
      @media screen and (max-width: 639px) {
        margin: 0;
      }
    }
    &:nth-child(2) {
      margin: 0 20px;
      @media screen and (min-width: $breakpoints640) and (max-width: 1279px) {
        width: 280px;
        margin: 0 0 0 20px;
      }
      @media screen and (max-width: 639px) {
        margin: 0;
      }
    }
    &:nth-child(3) {
      margin-left: 20px;
      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
    .title {
      margin-bottom: 20px;
      a {
        color: #005c99;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        @media screen and (max-width: 959px) {
          font-size: 15px;
          line-height: 17px;
        }
      }
    }
    .body {
      color: #5d6978;
      font-size: 13px;
      line-height: 20px;
      @media screen and (max-width: 959px) {
        font-size: 13px;
      }
    }
  }
}
.post-an-article-row {
  display: inline-block;
  margin: 20px 0;
  width: 100%;
  label {
    color: #5d6978;
    font-size: 13px;
    display: inline-block;
    float: left;
    line-height: 25px;
    margin: 0;
    @media screen and (max-width: 959px) {
      font-size: 11px;
      line-height: 20px;
    }
  }
  .label-right {
    color: #5d6978;
    font-size: 13px;
    display: inline-block;
    float: right;
    line-height: 25px;
    @media screen and (max-width: 959px) {
      font-size: 11px;
      line-height: 20px;
    }
    a {
      color: $red_text_color;
      font-size: 13px;
      text-decoration: underline;
      @media screen and (max-width: 959px) {
        font-size: 11px;
      }
      &:hover {
        color: $red_text_color;
      }
    }
  }
  .description {
    color: #5d6978;
    font-size: 13px;
    line-height: 25px;
    text-align: right;
    @media screen and (max-width: 959px) {
      font-size: 11px;
      line-height: 20px;
    }
  }
  input[type=text] {
    @include box-sizing(border-box);
    border: 1px solid #161d26;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #161d26;
    font-size: 15px;
    height: 40px;
    padding: 0 15px;
    width: 100%;
    @media screen and (max-width: 959px) {
      font-size: 13px;
    }
  }
  textarea {
    @include box-sizing(border-box);
    border: 1px solid #161d26;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #161d26;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    @media screen and (max-width: 959px) {
      font-size: 13px;
    }
  }
}
.create-article-add-slider-container {
  .create-article-add-slider-item {
    @include clearfix();
    margin: 30px 0;
    @media screen and (max-width: 959px) {
      margin: 25px 0;
    }
  }
  .image-preview {
    @include background(image-url("no_image.jpg"));
    background-size: cover;
    display: inline-block;
    float: left;
    height: 290px;
    position: relative;
    width: 440px;
    @media screen and (max-width: 1279px) {
      height: 184px;
      width: 279px;
    }
    @media screen and (max-width: 639px) {
      margin-bottom: 40px;
    }
    canvas {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  .right-container {
    display: inline-block;
    float: right;
    height: 290px;
    width: 440px;
    @media screen and (min-width: $breakpoints640) and (max-width: 1279px) {
      width: 280px;
    }
    @media screen and (max-width: 639px) {
      width: 100%;
    }
  }
  .item {
    color: #5d6978;
    font-size: 13px;
    margin-bottom: 40px;
    label {
      margin: 0;
    }
    .label-file {
      background-color: $red_text_color;
      color: #fff;
      font-size: 17px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 280px;
      @media screen and (max-width: 959px) {
        font-size: 15px;
      }
    }
    input[type=file] {
      display: none;
    }
    input[type=text] {
      @include box-sizing(border-box);
      border: 1px solid #161d26;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: #161d26;
      font-size: 15px;
      height: 40px;
      padding: 0 15px;
      width: 100%;
      @media screen and (max-width: 959px) {
        font-size: 13px;
      }
    }
  }
  .add-item-container {
    .add-item {
      @include box-sizing(border-box);
      border: 1px solid #161d26;
      cursor: pointer;
      font-size: 17px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 280px;
      @media screen and (max-width: 959px) {
        font-size: 15px;
      }
    }
  }
  .add-slider-actions {
    margin: 100px 0 40px 0;
    @media screen and (max-width: 959px) {
      margin: 80px 0 40px 0;
    }
    .save,
    .preview {
      @include box-sizing(border-box);
      border: 1px solid #161d26;
      cursor: pointer;
      display: inline-block;
      font-size: 17px;
      height: 60px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-right: 17px;
      padding: 0 30px;
      text-align: center;
      vertical-align: top;
      @media screen and (max-width: 959px) {
        font-size: 15px;
      }
    }
    .sent {
      background-color: #e62e4c;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0 30px 0 35px;
      position: relative;
      text-decoration: none;
      z-index: 2;
      border: none;
      font-size: 24px;
      height: 60px;
      line-height: 60px;
      &:before {
        @include background(image-url("red_btn_icon.png"));
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        height: 60px;
        position: absolute;
        right: -8px;
        width: 16px;
        z-index: 3;
      }
      &:after {
        content: '';
        border-top: 30px solid transparent;
        border-left: 30px solid #e62e4c;
        border-bottom: 30px solid transparent;
        height: 0;
        position: absolute;
        top: 0;
        right: -30px;
        width: 0;
        z-index: 2;
      }
      &:hover {
        background-color: #ff4060;
        &:after {
          border-top: 30px solid transparent;
          border-left: 30px solid #ff4060;
          border-bottom: 30px solid transparent;
        }
      }
    }
  }
}


