#iqub-container.upload {
  &.upload1 {
    padding-bottom: 40px;
  }
  .section .content {
    &> .title {
      word-break: break-word;
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 30px;
      }
    }
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    @media screen and (max-width: $breakpoints960 - 1) {
      font-size: 20px;
    }
  }
  ul {
    padding-left: 0px;
  }
  ul li {
    list-style: none;
    background-image: image-url('bullet-red-line.jpg');
    background-repeat: no-repeat;
    background-position: 0px 22px;
    padding: 0px 0px;
    padding-left: 40px;
    font-size: 17px;
    @media screen and (max-width: $breakpoints960 - 1) {
      font-size: 15px;
    }
  }
  .upload_button {
    padding-top: 40px;
  }
  .margintop60 {
    margin-top: 60px;
    @media screen and (max-width: 959px) {
      margin-top: 40px;
    }
  }
  .upload_preview {
    max-width: 600px;
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .text {
    font-size: 17px;
  }
  .upload_list {
    margin-right: 10px;
  }
  .upload_item {
    border:1px solid #d3dae1;
    padding: 30px 0px;
    padding-left: 40px;
    margin-bottom: 40px;
    &.not_determined .upload_content {
      .upload_right {
        @media screen and (max-width: $breakpoints1280 - 1) {
          display: none;
        }
      }
    }
    .upload_title {
      font-size: 24px;
      color: #015995;
      font-weight: bold;
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 20px;
      }
    }
    .upload_subtitle {
      font-size: 13px;
      color: #5d6978;
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 11px;
      }
    }
    .upload_content {
      display: table;
      width: 100%;
      @media screen and (max-width: $breakpoints640 - 1) {
        display: block;
      }
      .upload_left {
        display: table-cell;
        vertical-align: top;
        padding-top: 35px;
        @media screen and (max-width: $breakpoints640 - 1) {
          display: block;
        }
        img {
          max-width: 100%;
          height: auto;
        }
        padding-right: 20px;
      }
      .upload_right {
        display: table-cell;
        vertical-align: top;
        width: 300px;
        box-sizing: border-box;
        @media screen and (max-width: $breakpoints640 - 1) {
          display: block;
          width: 100%;
          margin-top: 30px;
        }
      }
      .upload_button {
        font-size: 17px;
        color: #161d26;
        line-height: 60px;
        padding: 0px 30px;
        display: inline-block;
        margin-right: 20px;
        margin-top: 60px;
        @include background(#c7e3f6);
        &:hover{
          @include background(#badaef);
        }
        @media screen and (max-width: $breakpoints1280 - 1) {
          margin-top: 15px;
        }
      }
      .change_form {
        .form-item {
          padding-bottom: 24px;
        }
        .form-title,label {
          font-size: 13px;
          color: #888f99;
          display: block;
          margin-bottom: 0px;
          line-height: 17px;
        }
        .value {
          font-size: 17px;
          color: #161d26;
          line-height: 21px;
        }
        select {
          background-color: #fff;
          border: none;
          border: 1px solid #161d26;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          color: #161d26;
          font-size: 17px;
          height: 40px;
          width: 240px;
        }
        .form-action {
          input[type="submit"] {
            font-size: 17px;
            color: #161d26;
            line-height: 60px;
            padding: 0px 30px;
            display: inline-block;
            margin-right: 20px;
            margin-top: 10px;
            border: 0px;
            @include background(#c7e3f6);
            &:hover{
              @include background(#badaef);
            }
          }
        }
      }
    }
    .checkbox {
      padding-top: 30px;
      label {
        padding-left: 0px;
        font-size: 17px;
      }
    }
    .red-btn-small {
      margin-right: 20px;
      @media screen and (max-width: $breakpoints640 - 1) {
        margin-top: 20px;
      }
    }
  }
  .big {
    margin-right: 20px;
    line-height: 80px;
    height: 80px;
    position: relative;
    top: -3px;
    @media screen and (max-width: $breakpoints960 - 1) {
      line-height: 60px;
      height: 60px;
      top: 0px;
    }
  }
  .upload_confirm {
    padding-bottom: 40px;
    .red-btn-link {
      font-size: 24px;
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 17px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        margin-top: 20px;
      }
    }
  }
  .message-error {
    background: #f9cbd3;
    padding: 20px;
    margin-right: 40px;
    font-size: 13px;
    color: #161d26;
    line-height: 21px;
    margin-top: 10px;
  }
  &.page-product {
    .content {
      padding-top: 60px;
      @media screen and (max-width: $breakpoints960 - 1) {
        margin-top: 40px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        margin-top: 20px;
      }
      .product-info .right {
        position: relative;
        top: -50px;
      }
    }
    .not_padding {
      margin-top: 10px;
    }
    .query_wrap {
      padding-top: 20px;
    }
    select {
      border:1px solid #161d26!important;
    }
    .extraproduct,.block_filtr {
      .title {
        font-size: 20px;
      }
    }
    .breadcrumbs {
      @media screen and (max-width: $breakpoints960 - 1) {
        max-width: 300px;
      }
    }
    .section .page-product.content .product-info .left .title-node {
      font-size: 30px;
    }
  }
  .width50 {
    display: inline-block;
  }
  .new_message {
    background: #e62e4c;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    color: white;
    padding: 0px 30px;
    margin-top: 30px;
    display: none;
    @media screen and (max-width: $breakpoints1280 - 1) {
      display: inline-block;
    }
    @media screen and (max-width: 959px) {
      height: 40px;
      line-height: 40px;
      padding: 0px 25px;
    }
  }
  .upload_files_form {
    @media screen and (max-width: $breakpoints1280 - 1) {
      display: none;
    }
    .form-item {
      margin-top: 25px;
      label {
        color: #5d6978;
        font-size: 13px;
        display: block;
        margin: 0px;
      }
      textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #161d26;
        resize: none;
      }
    }
    input[type="submit"] {
      height: 60px;
      padding: 0px 30px;
      color: white;
      font-size: 17px;
      color: white;
      background: #e62e4c;
      border: 0px;
      margin-top: 20px;
    }
    .uploaded_file {
      height: 40px;
      line-height: 40px;
      border: 1px solid #161d26;
      padding-left: 20px;
      box-sizing: border-box;
      width: calc(100% - 30px);
    }
    .chose_file {
      border: 1px solid #161d26;
      color: #161d26;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      padding: 0px 30px;
      margin-top: 20px;
      &:hover {
        background: #d3dae1;
      }
    }
    .attached_files {
      position: relative;
      margin-top: 20px;
      display: none;
      &:first-child {
        margin-top: 0px;
      }
      .uploaded_file_close {
        background-image: url('../../images/message_error_close.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        height: 10px;
        opacity: 1;
        position: absolute;
        right: 0px;
        top: 15px;
        width: 10px;
      }
      input {
        display: none;
      }
      &.uploaded {
        display: block;
      }
    }
  }
  .comments {
    padding-top: 40px;
    margin-bottom: 40px;
    @media screen and (max-width: $breakpoints960 - 1) {
      margin-bottom: 20px;
    }
    border-bottom: 1px solid #d3dae1;
    ul{
      padding: 0;
      li{
        list-style: none;
        border-top: 1px solid #d3dae1;
        padding-left: 0px;
        background: none;
        .commetn-post{
          @include clearfix();
          .icon1{
            float: left;
          }
        }
        .comment-text{
          margin-top: 20px;
          margin-bottom: 20px;
          color: #161d26;
          font-size: 17px;
          line-height: 24px;
          font-family: "Ubuntu", helvetica, Arial, sans-serif;
        }
        .author {
          padding-top: 40px;
          @media screen and (max-width: $breakpoints960 - 1) {
            padding-top: 20px;
          }
          .author_img {
            float: left;
            img {
              display: block;
            }
          }
          .icon_wrap {
            float: left;
            position: relative;
            height: 60px;
            .tooltip_blog_wrap {
              position: absolute;
              top: 70px;
              left: 0px;
              display: none;
            }
            &:hover {
              .tooltip_blog_wrap {
                display: block;
              }
            }
            .tooltip_blog {
              font-size: 13px;
              color: #5d6978;
              &:before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 10px;
                width: 11px;
                height: 18px;
                background: url('../../images/tooltip-pointer.png');
              }
            }
            .tooltip_blog {
              white-space: nowrap;
              display: inline-block;
              position: relative;
              border: 1px solid #d3dae1;
              top: 18px;
              padding: 15px 20px;
              margin-bottom: 18px;
              font-size: 13px;
              line-height: 17px;
              background: #ffffff;
            }
          }
          .icon1 {
            background-image: url('../../images/profile_form_icon.png');
            background-color: #e62e4c;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            height: 60px;
            width: 60px;
          }
          .blog_author2 {
            background-image: url('../../images/blog_author2.jpg');
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            height: 60px;
            width: 60px;
          }
          .blog_author3 {
            background-image: url('../../images/blog_author3.jpg');
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            height: 60px;
            width: 60px;
          }
          .t_wrap {
            float: left;
            padding-left: 20px;
            .t {
              font-size: 13px;
              color: #5d6978;
              line-height: 17px;
              display: table-cell;
              height: 60px;
              vertical-align: middle;
              .author_name {
                color: #005c99;
                font-size: 17px;
                cursor: pointer;
              }
            }
          }
          .blu_ico {
            background-image: url('../../images/blu_ico.jpg');
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            float: right;
            height: 60px;
            width: 60px;
            @media screen and (max-width: $breakpoints640 - 1) {
              float: none;
              clear: both;
              display: block;
            }
          }
        }
      }
    }
  }
}

.comming_soon {
  .comming_soon_wrap {
    float: left;
    @media screen and (max-width: $breakpoints640 - 1) {
      float: none;
    }
  }
  .content {
    .title {
      padding-top: 60px;
      padding-left: 266px;
      @media screen and (max-width: $breakpoints1280 - 1) {
        padding-top: 35px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        padding-left: 0px;
      }
    }
  }

  .comming_form {
    clear: both;
    padding-top: 80px;
    @media screen and (max-width: $breakpoints960 - 1) {
      padding-top: 40px;
    }
    @media screen and (max-width: $breakpoints640 - 1) {
      padding-top: 20px;
    }
    label {
      font-size: 15px;
      color: #161d26;
      display: block;
      margin-bottom: 25px;
    }
    input[type="text"] {
      width: 300px;
      line-height: 60px;
      border: 1px solid #d3dae1;
      box-sizing: border-box;
      padding-left: 20px;
      font-size: 17px;
      float: left;
      height: 60px;
      @media screen and (max-width: $breakpoints640 - 1) {
        width: 260px;
      }
    }
    input[type="submit"] {
      background: image-url('comming_soon_submit.jpg');
      width:60px;
      height: 60px;
      background-size: cover;
      border: 0px;
    }
  }
}