@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic,700,700italic);
@font-face {
  font-family: "FontAwesome";
  src: url('../../fonts/FontAwesome.otf?1442174642') format('opentype'), url('../../fonts/fontawesome-webfont.eot?1442174642') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.svg?1442174642') format('svg'), url('../../fonts/fontawesome-webfont.ttf?1442174642') format('truetype'), url('../../fonts/fontawesome-webfont.woff?1442174642') format('woff'), url('../../fonts/fontawesome-webfont.woff2?1442174642') format('woff2');
}
#iqub-container.blog {
  padding-top: 80px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog {
    padding-top: 40px;
  }
}
#iqub-container.blog .section .content {
  padding-top: 0px;
  float: right;
}
@media screen and (min-width: 1280px) {
  #iqub-container.blog .section .content {
    width: 930px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 1279px) {
  #iqub-container.blog .section .content {
    width: 610px;
  }
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .section .content {
    width: 100%;
    padding-left: 0px;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .section .content {
    width: 100%;
  }
}
#iqub-container.blog .section .blog_sidebar {
  display: inline-block;
  width: 310px;
  float: left;
  padding-left: 20px;
  padding-right: 30px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .section .blog_sidebar {
    display: block;
    width: 100%;
    padding-bottom: 40px;
  }
}
#iqub-container.blog .blog_subscribe {
  padding-top: 60px;
  color: #5d6978;
  font-family: "Ubuntu", helvetica, Arial, sans-serif;
  font-size: 13px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe {
    font-size: 11px;
  }
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe {
    padding-top: 40px;
  }
}
#iqub-container.blog .blog_subscribe .title {
  font-size: 24px;
  font-weight: bold;
  color: #161d26;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe .title {
    font-size: 20px;
  }
}
#iqub-container.blog .blog_subscribe input {
  display: block;
  width: 100%;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe input {
    display: inline-block;
    width: auto;
  }
}
#iqub-container.blog .blog_subscribe input[type="text"] {
  height: 60px;
  border: 1px solid #161d26;
  padding-left: 20px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe input[type="text"] {
    height: 40px;
    width: 50%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_subscribe input[type="text"] {
    width: 100%;
    margin-right: 0px;
  }
}
#iqub-container.blog .blog_subscribe input[type="submit"] {
  color: white;
  background: #e62e4c;
  height: 60px;
  border: 0px;
  margin-top: 20px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe input[type="submit"] {
    height: 40px;
    margin: 0px;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_subscribe input[type="submit"] {
    margin-top: 20px;
  }
}
#iqub-container.blog .blog_subscribe p {
  padding: 20px 0px;
  line-height: 21px;
  margin-bottom: 0px;
}
#iqub-container.blog .blog_subscribe .subscribe_social {
  padding-top: 20px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe .subscribe_social {
    padding: 0px;
  }
}
#iqub-container.blog .blog_subscribe .social-connect a {
  display: inline-block;
  float: left;
  height: 60px;
  margin-right: 13px;
  width: 60px;
}
#iqub-container.blog .blog_subscribe .social-connect a.social {
  font-size: 35px;
  line-height: 60px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_subscribe .social-connect a.social {
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
  }
}
#iqub-container.blog .top_links {
  padding: 0px;
  margin: 0px;
}
#iqub-container.blog .top_links li {
  display: inline-block;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .top_links li {
    display: block;
    margin-bottom: 20px;
  }
}
#iqub-container.blog .top_links li a {
  font-size: 17px;
  color: #161d26;
  border: 1px solid #d3dae1;
  line-height: 60px;
  display: inline-block;
  padding: 0px 20px;
  margin-right: 20px;
}
#iqub-container.blog .top_links li a:hover, #iqub-container.blog .top_links li a.active {
  border: 0px;
  background: #015995;
  color: #ffffff;
  border: 1px solid #015995;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .top_links li a {
    line-height: 40px;
    font-size: 15px;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .top_links li a {
    line-height: 60px;
    width: 100%;
    display: block;
  }
}
#iqub-container.blog .blog_article {
  padding: 60px 0px;
  border-bottom: 1px solid #d3dae1;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article {
    padding: 20px 0px;
  }
}
#iqub-container.blog .blog_article .top_part {
  line-height: 19px;
  font-size: 13px;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .top_part {
    font-size: 11px;
  }
}
#iqub-container.blog .blog_article .top_part .created {
  color: #5d6978;
  display: inline-block;
  margin-right: 45px;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .top_part .created {
    margin-right: 27px;
  }
}
#iqub-container.blog .blog_article .top_part .comments_count {
  color: #015995;
  display: inline-block;
  padding-left: 24px;
  background-image: url("../../images/blog_comment_ico.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-right: 45px;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .top_part .comments_count span {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .top_part .comments_count {
    margin-right: 27px;
  }
}
#iqub-container.blog .blog_article .top_part .vote_up {
  color: #161d26;
  display: inline-block;
  padding-left: 24px;
  background-image: url("../../images/blog_like_top_ico.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-right: 45px;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .top_part .vote_up {
    margin-right: 27px;
  }
}
#iqub-container.blog .blog_article .top_part .vote_down {
  color: #161d26;
  display: inline-block;
  padding-left: 24px;
  background-image: url("../../images/blog_like_bottom_ico.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
#iqub-container.blog .blog_article .article_title {
  font-size: 30px;
  color: #161d26;
  font-weight: bold;
  padding-top: 30px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article .article_title {
    font-size: 24px;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .article_title {
    padding-top: 20px;
  }
}
#iqub-container.blog .blog_article .author {
  padding-top: 40px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article .author {
    padding-top: 20px;
  }
}
#iqub-container.blog .blog_article .author .author_img {
  float: left;
}
#iqub-container.blog .blog_article .author .author_img img {
  display: block;
}
#iqub-container.blog .blog_article .author .icon_wrap {
  float: left;
  position: relative;
  height: 60px;
}
#iqub-container.blog .blog_article .author .icon_wrap .tooltip_blog_wrap {
  position: absolute;
  top: 70px;
  left: 0px;
  display: none;
}
#iqub-container.blog .blog_article .author .icon_wrap:hover .tooltip_blog_wrap {
  display: block;
}
#iqub-container.blog .blog_article .author .icon_wrap .tooltip_blog {
  font-size: 13px;
  color: #5d6978;
}
#iqub-container.blog .blog_article .author .icon_wrap .tooltip_blog:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 10px;
  width: 11px;
  height: 18px;
  background: url("../../images/tooltip-pointer.png");
}
#iqub-container.blog .blog_article .author .icon_wrap .tooltip_blog {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  border: 1px solid #d3dae1;
  top: 18px;
  padding: 15px 20px;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 17px;
  background: #ffffff;
}
#iqub-container.blog .blog_article .author .icon1 {
  background-image: url("../../images/profile_form_icon.png");
  background-color: #e62e4c;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 60px;
  width: 60px;
}
#iqub-container.blog .blog_article .author .blog_author2 {
  background-image: url("../../images/blog_author2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 60px;
  width: 60px;
}
#iqub-container.blog .blog_article .author .blog_author3 {
  background-image: url("../../images/blog_author3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 60px;
  width: 60px;
}
#iqub-container.blog .blog_article .author .t_wrap {
  float: left;
  padding-left: 20px;
}
#iqub-container.blog .blog_article .author .t_wrap .t {
  font-size: 13px;
  color: #5d6978;
  line-height: 17px;
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}
#iqub-container.blog .blog_article .author .t_wrap .t .author_name {
  color: #005c99;
  font-size: 17px;
}
#iqub-container.blog .blog_article .author .blu_ico {
  background-image: url("../../images/blu_ico.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  float: right;
  height: 60px;
  width: 60px;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .author .blu_ico {
    float: none;
    clear: both;
    display: block;
  }
}
#iqub-container.blog .blog_article .summary {
  padding-top: 40px;
  font-size: 17px;
  line-height: 30px;
  color: #161d26;
  clear: both;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article .summary {
    padding-top: 20px;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .blog_article .summary {
    font-size: 15px;
    line-height: 21px;
  }
}
#iqub-container.blog .blog_article .teaser_image {
  padding-top: 40px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article .teaser_image {
    padding-top: 20px;
  }
}
#iqub-container.blog .blog_article .teaser_image img {
  width: 100%;
  height: auto;
}
#iqub-container.blog .blog_article .blog_tags {
  margin-top: 40px;
  padding-left: 30px;
  background-image: url("../../images/blog_tags.png");
  background-repeat: no-repeat;
  background-position: 0px 7px;
  line-height: 21px;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article .blog_tags {
    margin-top: 20px;
  }
}
#iqub-container.blog .blog_article .blog_tags li {
  list-style: none;
  display: inline-block;
  font-size: 13px;
  color: #015995;
}
#iqub-container.blog .blog_article .read_more {
  padding-top: 40px;
}
#iqub-container.blog .blog_article .read_more a {
  color: #161d26;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #d3dae1;
  display: inline-block;
  padding-left: 20px;
  padding-right: 40px;
  background-image: url("../../images/read_more_blog.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}
@media screen and (max-width: 959px) {
  #iqub-container.blog .blog_article .read_more {
    padding-top: 20px;
  }
}
#iqub-container.blog .pagination ul li {
  font-size: 17px;
}
#iqub-container.blog .pagination ul li:not(.prev):not(.next):not(.current) {
  display: inline-block;
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .pagination ul li:not(.prev):not(.next):not(.current) {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  #iqub-container.blog .pagination {
    margin-top: 40px;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=blog.css.map */
